module pki_box 1.0;

require {
    type unconfined_t;
    type init_t;
    type bin_t;
    type var_t;
    type var_log_t;
    type etc_t;
    type port_t;
    type netif_t;
    type node_t;
    class file { read write create append open getattr setattr lock };
    class dir { search read open getattr add_name write };
    class unix_stream_socket { connectto };
    class process { signal transition noatsecure siginh };
    class capability { chown dac_override };
    class tcp_socket { create connect bind listen accept name_bind name_connect node_bind };
    class netif { egress ingress };
}

type pki_core_t;
type pki_core_exec_t;
type pki_hsm_t;
type pki_hsm_exec_t;
type pki_var_t;
type pki_log_t;
type pki_config_t;

allow pki_core_t pki_hsm_t:unix_stream_socket connectto;
allow pki_core_t pki_hsm_t:process signal;
allow pki_core_t pki_var_t:file { read write create open getattr };
allow pki_core_t pki_log_t:file { append create open getattr };
allow pki_core_t pki_config_t:file { read open getattr };
allow pki_core_t pki_var_t:dir { search read open getattr };
allow pki_core_t pki_log_t:dir { search read open getattr add_name write };

allow pki_hsm_t pki_var_t:dir { search read open getattr };
allow pki_hsm_t pki_var_t:file { read write lock open getattr };
allow pki_hsm_t self:capability { chown dac_override };
allow pki_hsm_t pki_log_t:file { append create open getattr };
allow pki_hsm_t pki_log_t:dir { search open getattr add_name write };

allow pki_core_t self:tcp_socket { create connect bind listen accept name_bind name_connect node_bind };
allow pki_core_t port_t:tcp_socket name_bind;
allow pki_core_t node_t:tcp_socket node_bind;
